


body
{
    font-family: Arial, sans-serif;
    display: flex;              /* Add this */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
    min-height: 100vh;          /* Full viewport height */
}

.login_page
{

    width: auto;
    height: 800px;
    border: 2px solid;
    border-radius: 2px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.login_page_greeting
{
    

    margin-top: 50px;
    font-size: 24px;
    color: #333;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-align: center;
    width: 500px;
    height: 200px;
    position: relative;
    top: 20%;
}

.login_page_form_input
{
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-right: 5px;
    margin-top: 20%;
    padding: 20px;
   
    border-radius: 5px;

    position: relative;
}
label
{
    font-size: 23px;;
}

button
{
    font-size: 23px;
}

input[type="text"],
input[type="password"]
{
    display: block;
    width: 100%;
    border: none;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #007bff; /* Add this line */
    padding-right: 10px;
    
    

}

label
{
    margin-top: 20px;
    display: block; 
}

.show_password
{
    display: flex;
    margin-bottom:20px;
    
    
}

input[type="checkbox"]
{
    margin-top: 20px;
    margin-left: 10px;
    

}

.Forget-password
{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #961acf;
    
}

input[type="text"]
{
    font-size: 19px;
}

.Forget-password
{
    text-align: center;
}

.Login-page-submit button
{
    text-align: center;
    width: 100%;
    margin-bottom: 21px;

}

.Forget-password
{
    margin-bottom: 5px;
    
}

