.background-layer{
  background-color: #171717;
  width:100%;
  height: 100vh;
}

#Hero-layer{
  background-color: #171717;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items:center;
  display:flex;
}

.Hero{
  background-color: #171717;
}